<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <title>{{title}}</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!-- 
    Compass Template
    http://www.templatemo.com/tm-454-compass
    -->
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/templatemo-misc.css">
    <link rel="stylesheet" href="../static/css/animate.css">
    <link rel="stylesheet" href="../static/css/templatemo-main.css">
    <link rel="stylesheet" href="../static/css/q&a.css">

    <!--wepage onload icon-->
    <link rel="icon" href="static/images/full-gold.jpg " type="image/icon type ">


    <!-- Favicons -->
    <link rel="shortcut icon" href="../static/images/ico/favicon.ico">

    <!-- JavaScripts -->
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <script src="../static/js/modernizr.js"></script>
    <!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
</head>

{%block style%}
<!--------------Styling block defined---------------->

{%endblock style%}


<body>
    {%block body%} {%endblock body%}

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/jquery.lightbox.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/qanda.js"></script>



</body>

</html>